footer
  .container.text-center
    p.pull-left © 2017 Company, Inc. All Rights Reserved
    ul.pull-right.list-inline
      li
        a(href='https://facebook.com/zupkode', target="_blank") Facebook
      li
        a(href='https://twitter.com/zupkode', target="_blank") Twitter
