extends layout

block content
  h1 Zupkode
  p.lead Learn while coding
  hr
  .container
    .row
      .col-lg-12.languages
        a(href='/playground?language=assembly')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/generic.svg?etag=9Zgpiujs', alt='Assembly logo')
            .language-badge-text.assembly Assembly
        a(href='/playground?language=ats')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/ats.svg?etag=iOxHfGKE', alt='ATS logo')
            .language-badge-text.ats ATS
        a(href='/playground?language=bash')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/bash.svg?etag=URlPDZTJ', alt='Bash logo')
            .language-badge-text.bash Bash
        a(href='/playground?language=c')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/c.svg?etag=ZaoLBh_p', alt='C logo')
            .language-badge-text.c C
        a(href='/playground?language=clojure')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/clojure.svg?etag=6CilWEiW', alt='Clojure logo')
            .language-badge-text.clojure Clojure
        a(href='/playground?language=cobol')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/generic.svg?etag=9Zgpiujs', alt='COBOL logo')
            .language-badge-text.cobol COBOL
        a(href='/playground?language=coffeescript')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/coffeescript.svg?etag=Pet1ipyH', alt='Coffeescript logo')
            .language-badge-text.coffeescript Coffeescript
        a(href='/playground?language=cpp')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/cpp.svg?etag=xkoGjq08', alt='C++ logo')
            .language-badge-text.cpp C++
        a(href='/playground?language=crystal')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/crystal.svg?etag=_9sVAGrD', alt='Crystal logo')
            .language-badge-text.crystal Crystal
        a(href='/playground?language=csharp')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/csharp.svg?etag=3PE6a6Dy', alt='C# logo')
            .language-badge-text.csharp C#
        a(href='/playground?language=d')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/d.svg?etag=VlEwsYMu', alt='D logo')
            .language-badge-text.d D
        a(href='/playground?language=elixir')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/elixir.svg?etag=MFFZASup', alt='Elixir logo')
            .language-badge-text.elixir Elixir
        a(href='/playground?language=elm')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/elm.svg?etag=bq1RmQW3', alt='Elm logo')
            .language-badge-text.elm Elm
        a(href='/playground?language=erlang')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/erlang.svg?etag=0UI1kXFe', alt='Erlang logo')
            .language-badge-text.erlang Erlang
        a(href='/playground?language=fsharp')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/fsharp.svg?etag=ZPxX3HJx', alt='F# logo')
            .language-badge-text.fsharp F#
        a(href='/playground?language=go')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/go.svg?etag=Jm0csGCt', alt='Go logo')
            .language-badge-text.go Go
        a(href='/playground?language=groovy')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/groovy.svg?etag=PDtmlv3H', alt='Groovy logo')
            .language-badge-text.groovy Groovy
        a(href='/playground?language=haskell')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/haskell.svg?etag=ieHK5eUx', alt='Haskell logo')
            .language-badge-text.haskell Haskell
        a(href='/playground?language=idris')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/idris.svg?etag=hAmTHmIp', alt='Idris logo')
            .language-badge-text.idris Idris
        a(href='/playground?language=java')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/java.svg?etag=pzKm5bxp', alt='Java logo')
            .language-badge-text.java Java
        a(href='/playground?language=javascript')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/javascript.svg?etag=h3EUB0Ek', alt='Javascript logo')
            .language-badge-text.javascript Javascript
        a(href='/playground?language=julia')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/julia.svg?etag=8JXUxbn6', alt='Julia logo')
            .language-badge-text.julia Julia
        a(href='/playground?language=kotlin')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/kotlin.svg?etag=7CCl1_0q', alt='Kotlin logo')
            .language-badge-text.kotlin Kotlin
        a(href='/playground?language=lua')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/lua.svg?etag=M3QyN_A5', alt='Lua logo')
            .language-badge-text.lua Lua
        a(href='/playground?language=mercury')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/mercury.svg?etag=GiTXfWOB', alt='Mercury logo')
            .language-badge-text.mercury Mercury
        a(href='/playground?language=nim')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/nim.svg?etag=in1hOjoe', alt='Nim logo')
            .language-badge-text.nim Nim
        a(href='/playground?language=ocaml')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/ocaml.svg?etag=vgu9-Ki4', alt='Ocaml logo')
            .language-badge-text.ocaml Ocaml
        a(href='/playground?language=perl')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/perl.svg?etag=oCXttKTb', alt='Perl logo')
            .language-badge-text.perl Perl
        a(href='/playground?language=perl6')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/perl6.svg?etag=jyDmhz1R', alt='Perl 6 logo')
            .language-badge-text.perl6 Perl 6
        a(href='/playground?language=php')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/php.svg?etag=-nizRdOd', alt='PHP logo')
            .language-badge-text.php PHP
        a(href='/playground?language=plaintext')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/plaintext.svg?etag=aUDtLDU5', alt='Plaintext logo')
            .language-badge-text.plaintext Plaintext
        a(href='/playground?language=python')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/python.svg?etag=UcLqsiyJ', alt='Python logo')
            .language-badge-text.python Python
        a(href='/playground?language=ruby')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/ruby.svg?etag=UUvvp6Fo', alt='Ruby logo')
            .language-badge-text.ruby Ruby
        a(href='/playground?language=rust')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/rust.svg?etag=kQUtw8KV', alt='Rust logo')
            .language-badge-text.rust Rust
        a(href='/playground?language=scala')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/scala.svg?etag=MRWsfkFP', alt='Scala logo')
            .language-badge-text.scala Scala
        a(href='/playground?language=swift')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/swift.svg?etag=NudO_lhA', alt='Swift logo')
            .language-badge-text.swift Swift
        a(href='/playground?language=typescript')
          .language-badge
            .language-icon-large.language-badge-icon
              img.logo(src='https://glot.io/static/img/typescript.svg?etag=qW1R0wpq', alt='TypeScript logo')
            .language-badge-text.typescript TypeScript